* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1B1B1B;
    display: flex;
    font-family: 'Poppins';
}

button {
    cursor: pointer;
}

aside {
    flex: 2 1 0;
    
    position: fixed;
    color: #fdfdfd;
    background-color: #121212;
    height: 100vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 1.5rem;
    z-index: 2;
}

/* Classe utilitária */
.neuphorm {
    border-radius: 20px;
    background: #3a3737;
    box-shadow: inset -49px 49px 65px #252323,
        inset 49px -49px 65px #4f4b4b,
        15px 15px 30px #141414;
}

.hidden {
    display: none;
}


textarea {
    resize: none;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #3A3737;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 10px;
}

#container-principal {
    margin-left: 19.5%;
    padding-top: 1rem;
    flex :2 1 0;
}

.perfil {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;


}

.perfil h4 {
    font-weight: 200;
    font-size: 1.4rem;
}

.perfil button {
    background-color: transparent;
    outline: none;
    border: none;
    transition: all 0.5s;
}

.perfil button:hover {
    cursor: pointer;
    scale: 1.1;
}

.btn-create {
    margin-top: 2rem;
    border-bottom: 4px solid #4f4b4b;
    border-radius: 5px;
    cursor: pointer;

}

.btn-create>p {
    pointer-events: none;
}

.btn-create button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    font-family: 'Poppins';
    font-size: 1rem;
    color: white;
    margin-bottom: 0.2rem;
    width: 100%;
}

.card-aside {
    width: 100%;
    margin-top: 3rem;
    padding: 1rem;
    background-color: #0A0909;
    border: 3px solid #878787;
    border-radius: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.card-aside .time-day {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: 300;
}

.card-aside textarea {
    margin: 1.2rem 0rem;
    background-color: #0A0909;
    color: #ffff;
    border: none;
    height: 270px;
    outline: none;
    width: 100%;

    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 200;
}

.select-colors {
    display: flex;
    gap: 0.3rem;
    position: relative;
}

.select-colors input[type='radio'] {
    display: none;
}

.container-radio label::after {
    content: '';
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 1rem;
    cursor: pointer;

}

.green label::after {
    background-color: #5AE22A;
}

#label-orange::after {
    background-color: #E26D2A;
}

.pink label::after {
    background-color: #E22A8E;
}

input#iorange:checked~#label-orange::after {
    border: 4px solid #fff;
}

input#igreen:checked~#label-green::after {
    border: 4px solid #fff;
}

input#ipink:checked~#label-pink::after {
    border: 4px solid #fff;
}

.row-color {
    width: 100%;
    height: 15px;
    background-color: #5AE22A;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btns-navbar {
    background-color: #3A3737;
    padding: 1rem 1.7rem;
    width:10%;
    border-radius: 20px;
    display: flex;
    justify-content: center;


}

.active{
    border: 3px solid white;
}
.btns-navbar button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

}


.container-input {
    width: 45%;
    background-color: #3A3737;
    display: flex;
    align-items: center;
    padding: 0.7rem 1.3rem;
    gap: 1rem;
    border-radius: 20px;
}

.container-input input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #878787;
    color: #fff;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: transparent;
    outline: none;
    transition: all 0.5s;
}

main {
    margin-top: 2rem;
}

.container-input input:focus {
    border-bottom: 3px solid #fff;
}

#container-btns-main {
    display: flex;
    justify-content: space-between;
}

.container-users {
    position: relative;
    z-index: 1;
    width: 270px;
    background-color: #3A3737;
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin-left: 3rem;

}

.users img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.users img:nth-child(2),
.users img:nth-child(3),
.users img:nth-child(4),
.users img:nth-child(5) {
    margin-left: -0.5rem;
}

#inumerador {
    color: #fff;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 200;
    margin-right: 0.5rem;
}

#donwlad-csv {
    margin-right: 5rem;
    width: 200px;
    border-radius: 20px;
    background-color: #3A3737;
    outline: none;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Poppins';
    cursor: pointer;
    font-weight: 200;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2.2rem;
    margin-left: 3rem;

}

.card {
    width: 400px;
    height: 450px;
    border-radius: 20px;
    background-color: #0A0909;
    box-shadow: 14px 14px 10px #121212;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.7rem 1.5rem;
}

.time-user-day {
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.time-user-day p {
    font-size: 19px;
    font-weight: 200;
}

.time-user-day img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.card textarea {
    background-color: #0A0909;
    color: #ffff;
    border: none;
    height: 280px;
    outline: none;
    width: 100%;
    margin: 1.5rem auto 0rem;
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 200;
}

.container-btns-card-main {
    display: flex;
    gap: 0.6rem;
    margin-top: 0.5rem;
}

.btn-card {
    border: 3px solid #3A3737;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.btn-card:hover {
    cursor: pointer;
    border: 3px solid #fff;
}

.line-color {
    position: absolute;
    width: 100%;
    height: 12px;
    background-color: #5AE22A;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
}


.fixed {
    border: 3px solid #878787;
}

#container-cards-empty {
    background-color: #0A0909;
    border: 2px dashed #4f4b4b;
    border-radius: 20px;
    width: 95%;
    height: 500px;
    
    justify-content: center;
    align-items: center;
}

#info-container-empty {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#info-container-empty img {
    width: 200px;
    height: 200px;
    margin-bottom: 4rem;
}

#info-container-empty p {
    color: white;
    font-size: 1.3rem;
    opacity: 0.6;
}

.btn-card img {
    pointer-events: none;
}